* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", serif;
    margin: 0;
    color: #141c3a;
}

nav {
    margin: 15px 110px;
    padding: 20px;
    color: #182B71;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 200;
    align-items: center;
}

.logo {
    font-family: "Playfair Display", serif;
    font-size: 35px;
}

.icones {
    display: flex;
    gap: 30px;
}

a {
    color: #182B71;
    text-decoration: none;
    outline: none;
}

.fa-github, .fa-linkedin-in {
    font-size: 30px;
}

.fa-github:hover, .fa-linkedin-in:hover {
    color: #2544b4;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 55px;
}

.box h1 {
    color: #182B71;
    font-size: 48px;
    padding: 25px;
}

.text {
    font-size: 24px;
}

.animacao {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 0;
}

.apresentacao {
    background-color: #182B71;
    text-align: center;
    color: white;
    margin-top: 0;
    padding: 80px 24px 256px;
}

.apresentacao h1 {
    font-size: 32px;
    margin-bottom: 24px;
}

.apresentacao p {
    font-size: 20px;
    line-height: 1.5;
}

.texto-centralizado {
    margin: 24px 14rem;
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

.conhecimentos {
    text-align: center;
    background-color: white;
    margin: -12rem 75px 85px;
    display: flex;
    flex-direction: row;
    border: 1px solid #E6ECF8;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 0 4px 10px -8px rgba(0, 0, 0, 0.3);
}

.backend, .frontend {
    padding: 35px 35px 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

.frontend {
    border-right: 1px solid #E6ECF8;
}

.p-conhecimentos {
    font-size: 25px;
}

.icone {
    display: flex;
    flex-direction: row;
    width: 35px;
    height: 35px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 0;
    color: white;
    background-color: #182B71;
    padding: 15px;
    border-radius: 100px;
}

.titulo-conhecimentos {
    margin: 24px;
    font-size: 24px;
}

.subtitulo {
    color: #182B71;
    font-size: 18px;
    font-weight: 500;
    margin: 50px 0px 8px;
}

.texto-simples {
    font-size: 18px;
}

.itens {
    font-size: 18px;
    list-style: none;
    margin-top: 0.25em;
}

.trabalhos {
    text-align: center;
    margin: 20px 0 85px;
}

.trabalhos h1 {
    font-size: 32px;
}

.imagens {
    display: flex;
    flex-direction: column;
}

.fileira1, .fileira2 {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.projetos {
    overflow: hidden;
    height: 250px;
    width: 350px;
    border-radius: 20px;
}

.imagemTr {
    height: 250px;
    width: 350px;
    border-radius: 20px;
}

.imagemTr:hover {
    transition: transform .5s ease;
    transform: scale(1.1);
}

footer {
    background-color: #182B71;
    padding: 64px 24px;
    text-align: center;
    border-top: 1px solid gray;
    color: white;
}

footer span {
    font-size: 18px;
}

/* Scrollbar */

@keyframes typing {
    0% {
        width: 0
    }
    
    90% {
        width: 100%
    }
    
    100% {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        opacity: 0
    }
}

.typing-animation {
    display: flex;
    flex-direction: row;
    gap: 0;
    font-size: 18px;
    overflow: hidden; /* Para esconder o cursor quando o texto for muito longo */
    white-space: nowrap; /* Evita quebra de linha */
    margin: 0 auto;
}

.cursor {
    display: inline-block;
    width: 0.15em; /* Largura do cursor */
    height: 1.7em; /* Altura do texto */
    background-color: black; /* Cor do cursor */
    animation: blink 1s infinite, typing-cursor 5s steps(40, end) infinite; /* Incluí a animação do cursor */
    animation-fill-mode: forwards; /* Fazer a animação do cursor parar quando o texto for completamente digitado */
}

@keyframes typing-cursor {

    from, to {
        border-color: transparent;
    }

    50% {
        border-color: transparent;
    }
}

.typing-animation .text {
    border-right: .15em solid transparent; /* Cursor */
    overflow: hidden; /* Para esconder o cursor quando o texto for muito longo */
    white-space: nowrap; /* Evita quebra de linha */
    display: inline-block;
    animation: typing 5s steps(40, end) infinite; /* Ajuste a duração da animação para 5s */
}

body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
    border-left: 1px solid #E6ECF8;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: gray;
}